.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  width: 100vw;
  height: 100vh;
}
.box {
  margin: 0 0 60px;
  font-size: 2rem;
  font-weight: 900;
}
button {
  padding: 20px 40px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid pink;
  border-radius: 10px;
  background-color: brown;
  color: #fff;
}
